.header {
  width: 100%;
  background: #1c1c21;
}

.navigation {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list__item {
  display: flex;
}

.profile {
}

.link {
  display: flex;
  align-items: center;
  color: #8585ad;
  text-decoration: none;
}

.link_active {
  color: #f2f2f3;
}
